<% include partials/header %>

<header>
    <div class="home-box">
        <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
    </div>

    <div class="form-box">
        <form action="/searchdb" method="GET">
            <input type="text" placeholder="search for" name="search">
            <button> <i class="fa fa-search" aria-hidden="true"></i>   </button>
        </form>
    </div>

    <div class="end-box">
        <a href="#">Useless link</a>
    </div>
</header>

<section>
    <h2>  You searched for : <%= searchTerm %>  </h2>
   
    <% if(movies){ %>
        <ol>
            <% movies.forEach(function(movie){ %>
            <li>
                <div>
                <% if(movie['Poster'] !== "N/A") { %>
                    <img src=" <%= movie['Poster'] %> " alt="image">
                    <% }else{ %>
                        <img src="http://i.ebayimg.com/images/i/190349612320-0-1/s-l1000.jpg" alt="Image Missing">
                    <% } %>
                    
                </div>
                <div>
                    <p class="headline"> <%= movie["Title"] %> </p> 
                    <p class="more"> <%= movie["Year"] %> </p> 
                    <p class="more"> <%= movie["Title"] %> </p> 
                </div>
            </li> 
            <% }) %>
        </ol>
        
    <% }else{ %>
            <p class="headline">Nuthin found...</p>
    <% } %>
</section>

<% include partials/footer %>


